.user__wrapper {
  width: 100%;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
  .user__card {
    width: 260px;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: 0.3s;
    text-align: center;
    .user__img {
      width: 200px;
      height: 200px;
      border-radius: 100%;
      background: #e5eaf2;
      text-align: center;
      margin: 10px auto;
    }
    .skeleton__anime {
      background: linear-gradient(90deg, #e5eaf2, #f7f7f7, #e5eaf2);
      background-size: 200%;
      animation: skeletonAnime 1s linear 0s infinite;
    }
    @keyframes skeletonAnime {
      to {
        background-position: 200%;
      }
    }

    .user__heading {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      margin: 10px 0;
      .user__title {
        font-size: 18px;
        font-weight: 600;
      }
    }
    .user__age {
      font-size: 16px;
      font-weight: 600;
      color: #0866ff;
    }
    .user__rating {
      display: flex;
      align-items: center;
      gap: 5px;
      margin: 5px 0;
      .user__star {
        color: #0866ff;
      }
    }
    .user__desc {
      font-size: 14px;
      line-height: 20px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }

    .btns {
      display: flex;
      align-items: center;
      gap: 20px;
      justify-content: center;
      margin-top: 20px;
      button {
        padding: 8px 30px;
        border-radius: 5px;
        border: 1px solid #0866ff;
        color: #0866ff;
        font-size: 16px;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          background: #0866ff;
          color: #fff;
        }
        &:active {
          transform: scale(0.9);
        }
        &:disabled:active {
          transform: scale(1);
        }
        &:disabled {
          opacity: 0.5;
        }
      }
    }
    &:hover {
      box-shadow: 4px 4px 10px #0002;
      .user__img {
        img {
          transform: scale(1.02);
        }
      }
    }
    .user__email {
      font-size: 14px;
      margin-top: 5px;
    }
  }
}

.user__about {
  font-size: 30px;
  color: #000;
  text-align: center;
  margin: 30px 0;
}
